/* FONT IMPORTS ____________________________________________________ */
/* _________________________________________________________________ */

@import url(https://rawcdn.githack.com/Kaiburr-kath-hound/HomebreweryStyles/813be54151c76ce3ec707682eee65eb1169cc088/XanatharFonts.css);

/* DELETES THE FOOTER ON THE FIRST FEW PAGES ________________________

If you want the footer to reqppear, just deleate the line that include that page. */
.page#p1:after, 
.page#p2:after, 
.page#p3:after, 
.page#p4:after {
	all	: unset;
}


/* YELLOW/DEFAULT THEME (Intro/Appendices) 

This is the default theme/color scheme. The theme changes the appearance of the footer image and chapter header within a certain page range, and this yellow theme is just the default appearance. To change the appearance of the document, see the instructions below. */
.page:after {
	position					: absolute;
	left							: 0px;
	bottom						: 0px;
	height						: 330px;
	width							: 100%;
	background-image	: url(https://i.imgur.com/wNAkUuR.png);
	background-position: top;
}


/* BLUE-GRAY THEME (Chapter 1/The most well-known) 

This (kind of long) string of code sets the page range for this theme (in this case, the blue-gray images will appear starting at page 6 and end on page 9). 

To change the page range, just replace the 6 and 9 with wherever your chapter or section starts and ends, respectively. If instead you want the whole document to have a single theme, then you can delete the number and +/-, leaving only the letter "n" inside the parenthesis. Then, delete all the code under the other sections that say ____ THEME.

Lastly, whether you change the page range or set it to “n”, you must do so on EACH line of code in the section (so you must do so 4 times for each section). */
.page:nth-of-type(n+ 6):nth-of-type(-n+ 9):after {
	background-image	: url(https://i.imgur.com/IuhVFzY.png);
}
.page:nth-of-type(n+ 6):nth-of-type(-n+ 9) .chapter.stain::before {
	background-image	: url(https://i.imgur.com/5VUPA1o.png);
}
.page:nth-of-type(n+ 6):nth-of-type(-n+ 9) .chapter::before {
	background-image	: url(https://i.imgur.com/0KkpGTn.png);
}
.page:nth-of-type(n+ 6):nth-of-type(-n+ 9) .chapter hr {
	background-image	: url(https://i.imgur.com/u0vS9Ac.png);
}

/* GREEN THEME (Chapter 2) */
.page:nth-of-type(n+ 10):nth-of-type(-n+ 10):after {
	background-image	: url(https://i.imgur.com/ZGtXaT4.png);
}
.page:nth-of-type(n+ 10):nth-of-type(-n+ 10) .chapter.stain::before {
	background-image	: url(https://i.imgur.com/oWy4Wg0.png);
}
.page:nth-of-type(n+ 10):nth-of-type(-n+ 10) .chapter::before {
	background-image	: url(https://i.imgur.com/zPQCACW.png);
}
.page:nth-of-type(n+ 10):nth-of-type(-n+ 10) .chapter hr {
	background-image	: url(https://i.imgur.com/h5ISdvI.png);
}

/* RED THEME (Chapter 3) */
.page:nth-of-type(n+ 11):nth-of-type(-n+ 11):after {
	background-image	: url(https://i.imgur.com/1a21wiC.png);
}
.page:nth-of-type(n+ 11):nth-of-type(-n+ 11) .chapter.stain::before {
	background-image	: url(https://i.imgur.com/9EB1TvU.png);
}
.page:nth-of-type(n+ 11):nth-of-type(-n+ 11) .chapter::before {
	background-image	: url(https://i.imgur.com/e1fGc5U.png);
}
.page:nth-of-type(n+ 11):nth-of-type(-n+ 11) .chapter hr {
	background-image	: url(https://i.imgur.com/Youqcfr.png);
}






/* GENERAL CODE ____________________________________________________ */

/* PAGE TEXTURE */
.page {
	background-image	: url(https://i.imgur.com/VjuryuT.jpg);
	background-size		: cover;
}
.page:nth-of-type(odd) {
	background-image	: url(https://i.imgur.com/UrB4Mya.jpg);
}

/* HEADERS */
.page h1,
.page h2,
.page h3,
.page h4 {
	color						: #59190d;
	letter-spacing	: 1px;
}

.page h1 {
	font-weight			: 100;
	margin-bottom		: -5px;
}

.page h2 {
	font-size				: 2.1em;
}

.page h3,
.page h4{
	margin-bottom		: 0.3em;
}

.page h5 {
	text-shadow	: #000 0px 0px 0.1px;
}

/* DROP CAP */
.page [class*="chapter"]+p:first-letter,
.page h1+p:first-letter {
	color								: black;
	float								: left;
	font-family					: SolberaImitationRemake;
	font-size						: 126px;
	line-height					: 1em;
	--shadow-x0					: #f9f8f4 0px 0px 1.4px;
	--shadow-x1					: var(--shadow-x0), var(--shadow-x0), var(--shadow-x0);
	--shadow-x2					: var(--shadow-x1), var(--shadow-x1), var(--shadow-x1);
	text-shadow					: var(--shadow-x2), var(--shadow-x2), var(--shadow-x2);
	text-transform			: uppercase;
	background					: unset;
	background-image		: url(https://i.imgur.com/OXd9IH6.png);
	background-size			: min(83px, 100%) auto;
	background-repeat		: no-repeat;
	background-position	: right 20% center;
	padding							:  24px  4px   2px  40px;
	margin							: -32px  1px -20px -34px;
}
.page h1+p{
	margin-top					: 15px;
}

/* SMALL CAPS */
.page caps {
	font-variant	: small-caps;
}
.page .backcover caps {
	font-size			: 120%;
}

/* TABLES */
.page table tr:nth-child(odd) td {
	background-color	: #dedee3;
}

/* MONSTER STATBLOCKS */
.page .monster.frame {
	background-color	: #fffdcd;
}
.page .monster table tr:nth-child(odd) td {
	background-color	: transparent;
}

/* NOTES */
.page .descriptive {
	background-color	: #dedee3;
}
.page .note { 
	margin-top				: 14px;
	width							: 325px;
	background-color	: #ede3c4;
	padding						: 4px 20px 2px 12px;
border-image				: url(https://i.imgur.com/KtrHa62.png) 14 stretch;
	border-image-outset	: 6px 0px;
	border-image-width  : 11px;
}
.page .note p {
	font-size					: 12px;
	line-height				: 13.4px;
}
.page .note + .note { 
	margin-top				: 2.5em;
}

/* Adjusts the various spacings of Numbered and Bulleted Lists */
.page .note ol > li {
	padding: 0 0 0 0.4em;
	text-indent: -1.5em;
	list-style-type: none;
	counter-increment: item;
}
.page .note ul {
	margin-top: 0.6em;
}
.page ol {
	margin: 0.4em 0 0.5em;
	padding: 0;
}
.page ol > li {
	padding: 0 0 0 1.3em;
	text-indent: -1.5em;
	list-style-type: none;
	counter-increment: item;
}
.page ol > li:before {
	display: inline-block;
	width: 1em;
	padding-right: 0.5em;
	font-weight: bold;
	text-align: right;
	content: counter(item) ".";
}

/* ARTIST CREDITS */
.page .artist {
	position				: absolute;
	bottom					: 150px;
	right						: -40px;
	width						: 20%;
	transform				: rotate(-90deg);
	font-family			: ScalySansSmallCapsRemake;
	font-size				: 13px;
	text-align			: left;
	text-transform	: lowercase;
	color						: #72716e;
}
.page:nth-of-type(even) .artist {
	right						: unset;
	left						: -40px;
}
.page .artist p {
	font-family			: ScalySansSmallCapsRemake !important;
	font-size				: 13px !important;
}

/* WATERCOLOR STAIN */
.page [class*="watercolor"] {
	background-color	: #b4a779;
}

/* FOOTER */
.page .footnote{
	left						: 74px;
	bottom					: 49px;
	font-size				: 10px;
	color						: #808080;
	text-transform	: uppercase;
	text-align			: left;
	width						: 400px;
	transform				: ScaleY(0.93);
	z-index					: 202;
	--shadow-x0					: #efeeeb 0px 0px 2px;
	--shadow-x1					: var(--shadow-x0), var(--shadow-x0), var(--shadow-x0);
	--shadow-x2					: var(--shadow-x1), var(--shadow-x1), var(--shadow-x1);
	text-shadow					: var(--shadow-x2), var(--shadow-x2), var(--shadow-x2);
}
.page:nth-child(even) .footnote{
	left						: unset;
	right						: 74px;
	text-align			: right;
}

/* PAGE NUMBER */
.page .pageNumber{
	left 				: 26px;
	bottom			: 42px;
	font-size		: 12px;
	color				: #808080;
	text-align	: left;
}
.page:nth-child(even) .pageNumber{
	left				: unset;
	right 			: 26px;
	text-align	: right;
}

/* HYPERLINKS */
.page a {
	color						: inherit;
	text-decoration	: none;
	font-weight			: bold;
}
.page a:hover{
	text-decoration	: underline;
}

/* TABLE OF CONTENTS */
.page .toc h1 {
	text-align			: left;
	font-size				: 40px;
}
	
.page .toc h3 {
	font-family			: BookInsanityRemake;
	font-size				: 13.5px;
	font-weight			: 800;
	letter-spacing	: 0px;
	border-bottom		: unset;
}
	
.page .toc ul h3 span:first-child::after {
	content       : "";
	position      : absolute;
	bottom        : 0.08cm;
	margin-left   : 0.06cm;
	width         : 100%;
	border-bottom : 0.05cm dotted #000;
}

.page .toc h4 {
	margin-top			: 2px;
	margin-bottom		: 0px;
	font-family			: BookInsanityRemake;
	font-weight			: 100;
	color						: black;
	font-size				: 13px;
	letter-spacing	: 0px;
}
	
.page .toc ul li + li h3 {
	margin-top			: 8px;
}

.page .toc a {
	font-weight			: inherit;
}


/* DECALS AND EXTRAS _______________________________________________ */

/* FULL PAGE IMAGE W/ OVERLAY */
.page .fullpage::before {
	content							: '';
	position						: absolute;
	top									: 0px;
	left								: 0px;
	width								: 100%;
	height							: 100%;
	background-image		: url(https://i.imgur.com/j2kThM4.png);
	background-size			: 100% 100%;
	background-repeat		: no-repeat;
	z-index							: 120;
}
.page:nth-child(odd) .fullpage::before{
	transform : scaleX(-1);
}
.page .fullpage img {
	position		: absolute; 
	top					: 0px; 
	left				: 0px; 
	height			: 100%;
	min-width		: 100%;
	z-index			: 110;
}


/* WIDE BLOCK W/ DECORATION */
.page .wide.decoration::before {
	content							: '';
	display							: block;
	height							: 28px;
	width								: 694px;
	margin							: -8px -11px 8px;
	background-image		: url(https://i.imgur.com/fOhtAYm.png);
	background-size			: 100% 100%;
}


/* DECALS __________________________________________________________ */
.page [class*="decal"],
.page .crosshatch {
	content						: '';
	position					: absolute;
	background-size		: contain;
	background-repeat	: no-repeat;
	z-index						: -10;
}
	
.page [class*="decal"] {
	right							: 0px;
}
.page [class*="decal"].left {
	right							: unset;
	left							: 0px;
	transform					: ScaleX(-1);
}
.page .decal2.left,
.page .decal3.left {
	left							: -10px;
}
	
  .page .decal1 {
		top								: 0px;
		height						: 530px;
		width							: 323px;
		background-image	: url(https://i.imgur.com/qArNReE.png);
  }
  .page .decal2 {
		right							: -10px;
		bottom						: 0px;
		height						: 530px;
		width							: 530px;
		background-image	: url(https://i.imgur.com/F2r2FA0.png);
		z-index						: 200;
  }
  .page .decal3 {
		top								: -10px;
		height						: 610px;
		width							: 545px;
		background-image	: url(https://i.imgur.com/jZmQXae.png);
  }
  .page .decal4 {
		top								: 0px;
		height						: 146px;
		width							: 400px;
		background-image	: url(https://i.imgur.com/VtiR9PM.png);
  }


/* CROSSHATCH PATTERN (Used similarly to watercolor splashes) */
.page .crosshatch {
	width							: 500px;
	height						: 100%;
	margin						: -50px -50px -50px -50px;
	background-image	: url(https://i.imgur.com/hqcBD1j.png);
}



/* HARD COVER (FRONT) ______________________________________________ */
/* _________________________________________________________________ */

.page .hardcover{
	position		: absolute;
	top					: 0;
	left				: 0;
	height			: 100%;
	padding			: 90px 0px;
	text-align	: center; 
	user-select	: none;
}

.page .hardcover img {
	position		: absolute;
	top					: 0px; 
	right				: 0px;
	height			: 100%;
	min-width		: 100%;
}

.page .hardcover::before {
	content							: '';
	position						: absolute;
	display							: block;
	top									: 20px;
	height							: 70px;
	width								: 100%;
	background-image		: url(https://i.imgur.com/kKd8mdW.png);
	background-position	: center;
	background-size			: 140px;
	background-repeat		: no-repeat;
}

.page .hardcover h1 {
	--shadow-x0					: #000 0px 0px 3.5px;
	--shadow-x1					: var(--shadow-x0), var(--shadow-x0), var(--shadow-x0);
	--shadow-x2					: var(--shadow-x1), var(--shadow-x1), var(--shadow-x1);
	--shadow-x3					: var(--shadow-x2), var(--shadow-x2), var(--shadow-x2);
	text-shadow					: var(--shadow-x3), var(--shadow-x3), var(--shadow-x3);
	font-family					: Nodesto;
	font-weight					: normal;
	font-size						: 6.6em;
	color								: white;
	line-height					: 72px;
	transform						: scaleX(0.94);
	text-transform			: uppercase;
	margin-top					: 3px;
}

.page small {
	position					: relative;
	text-transform		: lowercase;
	bottom						: 10px;
	font-size					: 90%;
}

.page .hardcover hr {
	visibility				: visible;
	position					: relative;
	top								: -16px;
	height						: 4em;
	width							: 430px;
	margin						: auto;
	margin-bottom			: -20px;
	background-image	: url(https://i.imgur.com/U4Cveto.png);
	background-size		: 100% 100%;
	border						: none;
}

.page .hardcover h2 {
	--shadow-x0			: #000 0px 0px 2.5px;
	--shadow-x1			: var(--shadow-x0), var(--shadow-x0), var(--shadow-x0);
	--shadow-x2			: var(--shadow-x1), var(--shadow-x1), var(--shadow-x1);
	--shadow-x3			: var(--shadow-x2), var(--shadow-x2), var(--shadow-x2);
	text-shadow			: var(--shadow-x3), var(--shadow-x3), var(--shadow-x3);
	font-family			: Nodesto;
	font-weight			: normal;
	font-size				: 2.5em;
	letter-spacing	: 0.5px;
	color						: white;
}

.page .hardcover .footnote {
	-webkit-text-stroke	: 0.2px black;
	--shadow-x0					: #000 0px 0px 1.8px;
	--shadow-x1					: var(--shadow-x0), var(--shadow-x0), var(--shadow-x0);
	--shadow-x2					: var(--shadow-x1), var(--shadow-x1), var(--shadow-x1);
	text-shadow					: var(--shadow-x2), var(--shadow-x2), var(--shadow-x2);
	position						: absolute;
	bottom							: 3.5em;
	left								: 0px;
	width								: 100%;
	font-family					: VeraCruz;
	letter-spacing			: 0.6px;
	text-transform			: none;
	text-align					: center;
	transform						: scaleX(90%);
}

.page .hardcover p {
	color			: white;
	font-size	: 20px !important;
}

.page .hardcover::after {
	content							: '';
	position						: absolute;
	display							: block;
	bottom							: 157px;
	left								: -4px;
	height							: 67px;
	width								: 100%;
	background-image		: url(https://i.imgur.com/KiAk59C.png);
	background-position	: left;
	background-size			: 400px;
	background-repeat		: no-repeat;
	filter							: drop-shadow(2px 2px 1px #000);
}



/* INSIDE COVER CODE _______________________________________________ */
/* _________________________________________________________________ */

.page .insidecover {
	display			: block;
	padding			: 40px;
	column-span	: all;
}

.page .insidecover h1 {
	font-family			: Nodesto;	
	font-weight			: normal;	
	font-size				: 6.3em; 
	letter-spacing	: -1px;
	text-align			: center;
	text-transform	: uppercase;
	width						: 800px;
	display: block;
	margin					: -16px auto auto -105px;
	line-height			: 68px;
}

.page .insidecover hr {
	position					: relative;
	height						: 3em;
	width							: 430px;
	visibility				: visible;
	margin						: auto;
	margin-top				: -16px;
	background-image	: url(https://i.imgur.com/xQs7dC7.png);
	background-size		: cover;
	border						: none;
	transform					: scale(0.85, 0.85);
}

.page .insidecover h2 {
	font-family			: Nodesto;
	font-weight			: normal;
	font-size				: 3em;
	letter-spacing	: 0.5px;
	text-align			: center;
}

.page .insidecover img {
	position						: absolute;
	bottom							: 420px;
	width								: 54%;
	left								: 23%;
}

.page .insidecover .logo{
	position					: absolute;
	bottom						: -35px;
	left							: 42%;
	background-image	: url(https://i.imgur.com/cYz20b0.png);
	background-size		: 14%;
	filter						: invert(0%);
}



/* CREDITS PAGE ____________________________________________________ */
/* _________________________________________________________________ */

.page .credits h1+p::first-letter, 
.page .credits h1+p::first-line {
	all	: unset;
}

.page .credits h1 {
	font-size	: 40px;
}

.page .credits h2, .page .credits h5 {
	margin-bottom	:14px;
}

.page .credits p {
	font-family	: martel_sansregular;
	font-style	: normal;
	font-size		: 0.83em;
	line-height	: 1.5em;
	text-indent	: -1em; 
	margin-left	: 1em;
}

.page .credits strong {
	font-family	: "Martel_SansExtraBold";
}

.page .frontcredit {
	position						: relative;
	right								: 10px;
	width               : 310px;
	height              : 240px;
	margin-top					: 15px;
	margin-bottom				: 100px;
}

		.page .frontcredit::before {
			content							: '';
			position						: absolute;
			top									: 9px;
			left								: -20px;
			height							: 94.5%;
			width								: 113%;
			background-image		: url(https://i.imgur.com/HKHIW1j.png);
			background-position	: center;
			background-size			: 100% 100%;
			background-repeat		: no-repeat;
		}

		.page .frontcredit img {
			position							: relative;
			top										: 16px;
			left									: -8px;
			width									: 105%;
			height								: 100%;
			-webkit-mask-image		: url(https://i.imgur.com/z17DCrf.png);
			-webkit-mask-position	: top;
			-webkit-mask-size			: 100%;
			-webkit-mask-repeat		: no-repeat;
		}

		.page .frontcredit h5 {
			margin-top			: 20px;
			margin-bottom		: 0px;
			text-transform 	: uppercase;
			font-weight			: 100
		}

		.page .frontcredit p {
			text-indent	: 0em; 
			margin-left	: 0em;
		}

.page .credits .footnote {
	bottom					: 20px;
	left						: 0px;
	width						: 100%;
	font-size				: 1em;
	text-transform	: none;
	text-align			: left;
	color						: black;
}

.page .credits .footnote p {
	padding			: 4.5em;
	text-indent	: 0px;
}



/* XANATHAR COMMENTS _______________________________________________ */
/* _________________________________________________________________ */

.page [class*="comment"] {
	font-family				: Psycho;
	position					: absolute;
	min-height				: 130px;
	max-height				: 350px;
	width							: 340px;
	padding						: 10px 20px 20px 30px;
	background-image	: url(https://i.imgur.com/fSEEBUG.png);
	background-size		: 100% 100%;
	background-repeat	: no-repeat;
	filter						: drop-shadow(1px 3px 5px rgba(140, 140, 140, 0.8));
	z-index						: 205;
}

	.page .comment2 {
		background-image	: url(https://i.imgur.com/VBHXNmb.png);
		min-height				: 90px;
		max-height				: 230px;
		width							: 350px;
		padding						: 15px 20px 20px 25px;
	}
	.page .comment3 {
		background-image	: url(https://i.imgur.com/gAfgytb.png);
		min-height				: 120px;
		max-height				: 250px;
		width							: 360px;
		padding						: 10px 25px 20px 30px;
	}
	.page .comment4 {
		background-image	: url(https://i.imgur.com/s8dkeCL.png);
		min-height				: 75px;
		max-height				: 200px;
		width							: 380px;
		padding						: 12px 25px 20px 30px;
	}
	.page .comment5 {
		background-image	: url(https://i.imgur.com/pbWuP59.png);
		min-height				: 80px;
		max-height				: 180px;
		width							: 375px;
		padding						: 10px 25px 20px 25px;
	}
	.page .comment6 {
		background-image	: url(https://i.imgur.com/EullZt7.png);
		min-height				: 70px;
		max-height				: 200px;
		width							: 370px;
		padding						: 15px 20px 20px 25px;
	}
	.page .comment7 {
		background-image	: url(https://i.imgur.com/u95HaQt.png);
		min-height				: 90px;
		max-height				: 300px;
		width							: 420px;
		padding						: 20px 30px 20px 30px;
	}
	.page .comment8 {
		background-image	: url(https://i.imgur.com/RscZc46.png);
		min-height				: 100px;
		max-height				: 250px;
		width							: 390px;
		padding						: 15px 25px 15px;
	}
	.page .comment9 {
		background-image	: url(https://i.imgur.com/1848blR.png);
		min-height				: 70px;
		max-height				: 150px;
		width							: 385px;
		padding						: 15px 20px 10px 30px;
	}
	.page .comment10 {
		background-image	: url(https://i.imgur.com/qcq9SS6.png);
		min-height				: 90px;
		max-height				: 240px;
		width							: 380px;
		padding						: 25px 20px 20px 30px;
	}
	.page .comment11 {
		background-image	: url(https://i.imgur.com/pXlSnaO.png);
		min-height				: 130px;
		max-height				: 320px;
		width							: 420px;
		padding						: 15px 20px 15px 25px;
	}
	.page .comment12 {
		background-image	: url(https://i.imgur.com/xKUdw4w.png);
		min-height				: 130px;
		max-height				: 325px;
		width							: 400px;
		padding						: 18px 18px 15px 30px;
	}
	.page .comment13 {
		background-image	: url(https://i.imgur.com/aO1BPAR.png);
		min-height				: 80px;
		max-height				: 150px;
		width							: 375px;
		padding						: 18px 18px 15px 30px;
	}
	.page .comment14 {
		background-image	: url(https://i.imgur.com/BTiffB9.png);
		min-height				: 90px;
		max-height				: 220px;
		width							: 380px;
		padding						: 12px 18px 15px 25px;
	}
	.page .comment15 {
		background-image	: url(https://i.imgur.com/0UJI6qY.png);
		min-height				: 80px;
		max-height				: 160px;
		width							: 400px;
		padding						: 18px 25px 20px 35px;
	}
	.page .comment16 {
		background-image	: url(https://i.imgur.com/6HN3nsg.png);
		min-height				: 150px;
		max-height				: 250px;
		width							: 350px;
		padding						: 15px 25px 15px 30px;
	}
	.page .comment17 {
		background-image	: url(https://i.imgur.com/FV6hjtP.png);
		width							: 315px;
		min-height				: 140px;
		max-height				: 250px;
		padding						: 20px 20px 20px 30px;
	}


.page [class*="comment"] p {
	color							: #693a4f;
	font-size					: 24px;
	line-height				: 22px;
	transform					: ScaleY(0.9);
}

.page [class*="comment"] p+p {
	padding-top		: 6px;
	text-indent		: 0px;
}

.page [class*="comment"].signature p:last-child {
	position		: absolute;
	right				: 35px;
	bottom			: 15px;
	font-size		: 24px;
	padding-top	: 8px;
	text-align	: right;
	font-weight	: bold;
	transform		: scaleY(1.2);
}

.page [class*="comment"] .symbol {
	visibility				: visible;
	position					: relative;
	top								: -13px;
	left							: 45%;
	width							: 26px;
	height						: 25px;
	margin-bottom			: -25px;
	background-image	: url(https://i.imgur.com/wfzlWmX.png);
	background-size		: contain;
	background-repeat	: no-repeat;
	transform					: inherit;
}



/* CHAPTER HEADING _________________________________________________ */
/* _________________________________________________________________ */

.page [class*="chapter"] {
	text-align			: center;
	column-span			: all;
	display					: block;
	padding-top			: 10px;
	padding-bottom	: 25px;
}

.page [class*="chapter"]+p:first-line{
	font-variant 				: small-caps;
}

.page [class*="chapter"]::before {
	content						: '';
	position					: absolute;
	width							: 100%;
	height						: 214px;
	top								: 0px;
	left							: 0px;
	z-index						: -1;
	background-image	: url(https://i.imgur.com/NvpOA5P.png);
	background-size		: cover;
}
.page [class*="chapter"].stain::before {
	background-image	: url(https://i.imgur.com/2ZWzeWC.png);
}

.page:nth-of-type(odd) [class*="chapter"]::before {
	transform					: ScaleX(-1)
}

.page [class*="chapter"] h1 {
	font-size				: 39px;
	letter-spacing	: 0.5px;
}

.page [class*="chapter"] hr {
	visibility				: visible;
	position					: relative;
	top								: -13px;
	height						: 30px;
	width							: 236px;
	margin						: 10px 216px -30px;
	background-image 	: url(https://i.imgur.com/hOcUlP9.png);
	background-size		: 100% 50%;
	background-repeat	: no-repeat;
	border						: none;
}


.page [class*="chapter"]::after {
	content						: '';
	position					: absolute;
	width							: 123px;
	height						: 261px;
	top								: 129px;
	left							: 0px;
	z-index						: -10;
	background-image	: url(https://i.imgur.com/vE10Nd4.png);
	background-size		: contain;
	background-repeat	: no-repeat;
}

.page:nth-of-type(odd) [class*="chapter"]::after {
	background-image	: unset;
}



/* BACK COVER CODE________________________________________________ */
/* _________________________________________________________________ */

.page:last-child:after {
	all:unset;
}

.page .backcover:before {
	content							: '';
	position						: absolute;
	top									: 0px;
	left								: -10px;
	height							: 100%;
	width								: 450px;
	background-image		: url(https://i.imgur.com/Yb6nOwt.png);
	background-position	: bottom center;
	background-size			: cover;
	background-repeat		: no-repeat;
	z-index							: -1;
	filter							: drop-shadow(0px 0px 30px rgba(109, 101, 118, 0.64));
}

.page .backcover {
	position						: absolute;
	top									: 0px;
	left								: 0px;
	height							: 100%;
	width								: 450px;
}

.page .backcover h1+p::first-letter, 
.page .backcover h1+p::first-line {
	all:unset;
}

.page .backcover h1 {
	text-align			: center;
	min-width				: 460px;
	margin-top			: -10px;
	margin-bottom		: 15px;
	padding					: 80px 80px 0px 40px;
	font-family			: Nodesto;
	font-size				: 480%;
	font-weight			: normal;
	letter-spacing	: -1px;
	line-height			: 0.9em;
	transform				: scaleX(0.9);
	color						: #ED1C24;
}

.page .block.backcover p {
	padding				: 0px 80px 0px 60px;
	font-family		: martel_sanssemibold;
	font-weight		: normal;
	font-size			: 12.6px;
	line-height		: 1.5em;
	text-indent		: 0em;
	color					: white;
}

.page .backcover hr {
	visibility				: visible;
	position					: relative;
	top								: 15px;
	height						: 32px;
	width							: 230px;
	margin-left						: 100px;
	background-image 	: url(https://i.imgur.com/U4Cveto.png);
	background-size		: 100% 80%;
	background-repeat	: no-repeat;
	border						: none;
}

.page .backcover hr+p {
	font-family	: Martel_SansExtraBold !important;
	text-align	: center;
	font-size		: 11px !important;
	margin-top	: 30px;
}

.page .backcover img {
	position	: absolute;
	top				: -2%;
	height		: 109%;
	left			: 40%;
	z-index		: -10;
}


/* HOMEBREWERY LOGO _______________________________________________ */

.page .logo {
	content						: '';
	position					: absolute;
	left							: 34.5%;
	bottom						: 0px;
	min-height				: 200px;
	background-image	: url(https://i.imgur.com/Nfw1Mpq.png);
	background-size		: 135px;
	background-repeat	: no-repeat;
}
.page .logo.words:before {
	content						: 'Made with The Homebrewery';
	position					: absolute;
	bottom						: 210px;
	left							: -14px;
	font-family				: 'Nodesto';
	font-size					: 150%;
	-webkit-transform	: scale(1.6, 1.0);
	color							: white;
}
